.history-card {
  /* height: 20px; */
  overflow: hidden;
  width: 100%;
}
.history-ul {
  padding: auto;
  padding: 3px 0px;
  border-bottom: 1px solid black;
  margin-bottom: 2px;
  width: 100%;
  display: flex;
  align-items: stretch; /* Default */
  justify-content: space-between;
}
.history-li {
  width: 100%;
  height: 18px;
  text-decoration: none;
  font-size: auto;
  /* 
   */
  display: block;
  flex: 0 1 auto; /* Default */
  list-style-type: none;
}

.history-card button {
  /* visibility: hidden; */
  width: auto;
  height: 18px;
  border: none;
  background-color: transparent;
  transition: 3s ease;
}

.history-card button:hover {
  visibility: visible;
}

.history-ul:nth-last-child() {
  margin-left: 2px;
  border-bottom: 0px;
}

.danger {
  background-color: rgba(255, 0, 0, 0.6);
}

.warning {
  background-color: rgba(255, 166, 0, 0.6);
}

.safe {
  background-color: rgba(0, 128, 0, 0.6);
}
