.history-card {
  /* height: 20px; */
  overflow: hidden;
  width: 100%;
}
.history-ul {
  padding: auto;
  padding: 3px 0px;
  border-bottom: 1px solid black;
  margin-bottom: 2px;
  width: 100%;
}
.history-li {
  margin-left: 2%;
  display: inline;
  width: 100%;
  height: 18px;
  text-decoration: none;
  font-size: auto;
}
.history-li button {
  width: auto;
  height: 18px;
  border: none;
  background-color: transparent;
}
.history-li:first-child {
  margin-left: 2px;
}
